.first-section {
    display: flex;
}
.short-description, .short-description-image {
    width: 50%;
    padding: 5% 6%;
}
.heading-title-01, .heading-title-02 {
    font-family: 'Titan One', cursive;
    font-size: 40px;
}
.second-section-title {
    text-align: center;
}
.heading-title-02 {
    color: orange;
}
.second-section-title {
    font-size: 40px;
}
.second-section-title-number {
    color: orange;
}
.short-description-image img {
    width: 80%;
}
button {
    padding: 10px 20px;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 9px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
.head-title {
    border-left: 4px solid tomato;
    border-radius: 5px;
    padding-left: 10px;
}